@charset "UTF-8";
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
  -webkit-text-fill-color: #000;
}

input,
textarea {
  border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
}
input:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container {
  text-align: center;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
    max-width: 320px;
  }
}

.wrapper-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
}
.wrapper-box .header,
.wrapper-box .footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.wrapper-box main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.rouble {
  font-family: "Rouble", "Arial", sans-serif;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-transition {
  /* stylelint-disable-next-line */
  -webkit-transition: none !important;
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.apartments {
  max-width: 1180px;
  position: relative;
  padding: 24px 0;
}

.apartments__title {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 36px;
  line-height: 55px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .apartments__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.apartments__link {
  color: #fff;
}
@media (hover: hover) {
  .apartments__link:hover:not(.focus-visible) {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}
.apartments__link.focus-visible:focus {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.apartments__link:active {
  color: rgba(255, 255, 255, 0.5);
}

.apartments__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 767px) {
  .apartments__subtitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }
}

.apartments__description {
  max-width: 322px;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .apartments__description {
    font-size: 14px;
    line-height: 21px;
  }
}

.apartments__caption {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  max-width: 117px;
  margin-top: 17px;
}
@media (max-width: 767px) {
  .apartments__caption {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}

.apartments__price {
  color: #FF4B77;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .apartments__price {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
}
.apartments__price::after {
  content: "₽";
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 6px;
}
.apartments__price::before {
  font-family: "Roboto", sans-serif;
  content: "от";
  margin-right: 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.apartments__button {
  display: block;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #F91155;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  width: 180px;
  height: 48px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
@media (max-width: 1279px) {
  .apartments__button {
    width: 288px;
    height: 48px;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .apartments__button {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }
}
@media (hover: hover) {
  .apartments__button:hover:not(.focus-visible) {
    background-color: #D8003F;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.apartments__button:active {
  background-color: #D8003F;
  color: #F9637C;
}

.apartments__list {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  min-width: 1180px;
}
@media (max-width: 1279px) {
  .apartments__list {
    min-width: 700px;
    gap: 28px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .apartments__list {
    min-width: 288px;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.apartments__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
  color: #fff;
  width: 372px;
  font-weight: 400;
  padding: 167px 24px 22px 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 34, 64, 0.1)), to(rgb(10, 34, 64)));
  background: linear-gradient(rgba(10, 34, 64, 0.1), rgb(10, 34, 64));
  border-radius: 10px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
@media (hover: hover) {
  .apartments__item:hover:not(.focus-visible) {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
  }
  .apartments__item:hover:not(.focus-visible) .apartments__decoration {
    display: block;
  }
}
@media (max-width: 1279px) {
  .apartments__item {
    padding: 150px 24px 24px 24px;
    width: 336px;
  }
  .apartments__item:last-child {
    margin-top: 9px;
  }
}
@media (max-width: 767px) {
  .apartments__item {
    padding: 77px 21px 21px 21px;
    width: 288px;
  }
  .apartments__item:last-child {
    margin-top: 0;
  }
}

.apartments__item--disabled {
  position: relative;
  background: rgba(171, 169, 169, 0.595);
}

.apartments__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.apartments__image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.apartments__decoration {
  position: absolute;
  top: 24px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 4px 4px 5px 16px;
  border-radius: 3px 0 0 3px;
  background-color: #FF7647;
  display: none;
}
.apartments__decoration::after {
  top: 0;
  left: 100%;
  position: absolute;
  display: block;
  height: 30px;
  width: 36px;
  content: "";
  background-image: url("/img/svg/icon-discount.svg");
}

.wrapper {
  background-image: url("/img/bg-desktop.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}